*{
border:2px black solid;
}
body{
    background-image: url("/static/photos/background.png");

}
.nav{
    background:tan;
    width:fit-content;
    margin-left: 100px;
    border:2px black solid;
}
.dropdown-item{
    background-color: lightcoral;
}
.content{
    background-color: tan;
    margin-left: 100px;
    margin-right: 100px;
}
.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.imgcaps{
    padding-left:60px;

}
h1{
    text-align: center;
}
img{
    height: 200px;
    width: 200px;
}
.store{
    display:flex;
    flex-direction: row;
    border:2px black solid;
}
.words{
    display:flex;
    flex-direction: column;
    padding-left: 20px;
}



