{% extends "layout.html" %}
{% block title %}
home
{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Stores</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/stores">Stores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/keke">Growing Keiki</a></li>
            <li><a class="dropdown-item" href="/makers_market">Makers market</a></li>
            <li><a class="dropdown-item" href="/hopscotch">HopScotch</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Activities</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/activities">Activities</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/aqua">Aquarium</a></li>
            <li><a class="dropdown-item" href="/lighthouse">Lighthouse</a></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/suggestions">Suggestions</a>
    </li>
</ul>
<div class="content">
    <h1>Hello there!!!!</h1>
    <h2>
        This page is to view and like local shops and activies families can experience
        with their children on Oahu.
    </h2>
    <div class="columns">
        <p><a href="/stores"><img src="/static/photos/shopping.png"></a><br> stores</p>
        <p><a href="/activities"><img src="/static/photos/activities.png"></a><br>activies</p>
        <p><img src="/static/photos/activities.png"><br>other</p>
    </div>
    <h4>Send suggestions here <a href="/suggestions">here</a></h4>
    <h4 id="newSuggestions">We have 0 new suggestions counter here</h4>
    <!-- <h3 id="test">We have 0 new suggestions</h3> -->
</div>

{% endblock %}