{% extends "layout.html" %}
{% block title %}
home
{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Stores</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/stores">Stores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="keke">Growing Keiki</a></li>
            <li><a class="dropdown-item" href="#">Makers market</a></li>
            <li><a class="dropdown-item" href="#">HopScotch</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Activities</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/stores">Activities</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Aquarium</a></li>
            <li><a class="dropdown-item" href="#">Lighthouse</a></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
<h1>Check these stores out</h1>
<div>
    <h2>
        <img src="./static/photos/growing.png">Growing Keiki
    </h2>
    <h6>
        little store in haleva.
    </h6>
</div>
<div>
    <h2>
        <img src="./static/photos/makers.png">Makers Market
        traveling popupstores
    </h2>
    <h2>HopScotch</h2>
</div>
{% endblock %}