{% extends "layout.html" %}
{% block title %}
home
{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Stores</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/stores">Stores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/keke">Growing Keiki</a></li>
            <li><a class="dropdown-item" href="/makers_market">Makers market</a></li>
            <li><a class="dropdown-item" href="/hopscotch">HopScotch</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Activities</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/activities">Activities</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/aqua">Aquarium</a></li>
            <li><a class="dropdown-item" href="/lighthouse">Lighthouse</a></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/suggestions">Suggestions</a>
    </li>
</ul>
<div class="content">
    <form action="/suggestions" method="post">
        <p>Name of place: <input name="name"required type="text"></p>
        <p>Description of place: <input name="description" type="text"></p>
        <p>link to place: <input type="text"></p>
        <button type="submit">Send</button>
    </form>
</div>

{% endblock %}